* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    box-sizing: border-box !important;
    text-decoration: none !important;
}

.my_container {
    max-width: 1140px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.bg_hero_image {
    background-image: url("./assets/image/webp/Hero_section_bg.webp");
}
.mintsectionimage{
    background-image: url("./assets//image//png//Mintsectionimage.png");
    position: relative;
    z-index: -10;
}

.group:hover .Contract path {
    fill: black;
}

.group svg path {
    transition: all 100ms linear;
}

.group:hover svg path {
    stroke: black;
}

.Slider_1 .slick-track {
    display: flex !important;
    align-items: center !important;
}

.slick-slide {
    padding: 10px;
}

.shadow:hover {
    filter: drop-shadow(0px 0px 6px #F1AC73);
}

.phase_hover:hover:before{
    box-shadow: 0px 0px 12px 1px #FDDA60;
}
.phase_hover:hover .persent h2 {
    background: #FDDA60 !important;
    box-shadow: 0px 0px 12px 1px #FDDA60;
}

.phase_hover:hover .PHASE h2 {
    color: #FDDA60 !important;
}

.phase_hover:hover .PHASE p {
    color: #FDDA60 !important;
}

.phase_hover:hover .beforeline {
    background: #FDDA60 !important;
    box-shadow: 0px 0px 12px 1px #FDDA60;

}

.phase_hover:hover .beforeline::after {
    background: #FDDA60 !important;
    box-shadow: 0px 0px 12px 1px #FDDA60;

}

.phase_hover:hover .beforeline::before {
    background: #FDDA60 !important;
    box-shadow: 0px 0px 12px 1px #FDDA60;

}

.header_shadow::after {
    background: linear-gradient(182deg, #0A0A0A 0%, rgba(10, 10, 10, 0.00) 100%);
    content: "";
    height: 190px;
    left: 0%;
    position: absolute;
    bottom: -167px;
    width: 100%;
    z-index: 6;
}
.header_shadowone::after {
    background: linear-gradient(182deg, #0A0A0A 0%, rgba(10, 10, 10, 0.00) 100%);
    content: "";
    height: 110px;
    left: 0%;
    position: absolute;
    top: -15px;
    width: 100%;
    z-index: -1;
}

.headerslider {
    overflow: hidden;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.slider-box-ABout {
    width: 200px;
    perspective: 1000px;
    position: relative;
    top: -4%;
    right: 0;
    transform: rotate(12deg);
}

.carousel {
    width: 100%;
    transform-style: preserve-3d;
    animation: rotate 20s infinite linear;
    /*  speed:  */
}

.carousel .carousel-item {
    width: 150px;
    height: 130px;
    position: absolute;
    overflow: hidden;
}

.it1 {
    transform: rotateY(0deg) translateZ(35vh);
}

.it2 {
    transform: rotateY(40deg) translateZ(35vh);
}

.it3 {
    transform: rotateY(80deg) translateZ(35vh);
}

.it4 {
    transform: rotateY(120deg) translateZ(35vh);
}

.it5 {
    transform: rotateY(160deg) translateZ(35vh);
}

.it6 {
    transform: rotateY(200deg) translateZ(35vh);
}

.it7 {
    transform: rotateY(240deg) translateZ(35vh);
}

.it8 {
    transform: rotateY(280deg) translateZ(35vh);
}

.it9 {
    transform: rotateY(320deg) translateZ(35vh);
}

.it10 {
    transform: rotateY(360deg) translateZ(35vh);
}

.carousel-item {
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 3vh;
    border: 4px solid #FDDA60;
}

.carousel .img {
    transition: ease-in-out 0.5s;
    width: 100%;
    height: 100%;
}

.carousel .img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    position: absolute;
}

.carousel:hover {
    animation-play-state: paused;
    cursor: pointer;
}

/* animation rotate */
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

.scrollTop {
    position: fixed;
    width: 40px;
    bottom: 20px;
    padding: 9px;
    right: 20px;
    align-items: center;
    height: 40px !important;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    color: white;
    background: #FDDA60;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.scrollTop:hover {
    background: white;
    color: #FDDA60;
    box-shadow: 0px 4px 16px 0px #FDDA60;
}


@media (min-width:575.9px) {

    .scrollTop {
        bottom: 30px;
        width: 45px;
        right: 30px;
        height: 45px !important;
    }
}

@media (min-width:767.9px) {
    .scrollTop {
        bottom: 40px;
        width: 50px;
        right: 40px;
        height: 50px !important;
    }
}

.animation_preloader {
    animation: loder 3s linear;
}

@keyframes loder {
    0% {
        transform: scale(1.1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.4);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }

}